{% extends "base.html" %}
{% block title %}
Simulate Incoming Message from Tanzania through gateway push.co.tz
{% endblock title %}

{% block content %}
		<div class="page-header">
			<h1>Simulate Incoming Message from push.co.tz</h1><br/>
		</div>
		<form method="POST">
			{% csrf_token %}
			<label>Source Phone Number</label>
			<input name="phone_no" type="text" placeholder="Enter Phone Number" />
			<br>
			<label>Message Content</label>
			<br>
			<textarea name="msg" style="height: 200px;width: 500px"></textarea>
			<br>
			<button class="btn btn-primary">Send Message</button>
		</form>
{% endblock %}